﻿@model Hams3xLib.UserPermission

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserPermission</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Permission.ModuleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Permission.ModuleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserIndex.Cac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserIndex.Cac)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserPermissionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
