﻿@model Ashore_HAMS.Models3.HULL_APP_VERSION_MONITORING

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>HULL_APP_VERSION_MONITORING</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TIME_DATE_RECORD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIME_DATE_RECORD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AFLOAT_HULL_APP_INSTALLED.AFLOAT_HULL_APP_INSTALLED_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AFLOAT_HULL_APP_INSTALLED.AFLOAT_HULL_APP_INSTALLED_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AUTH_HULL_APP_RELEASE.AUTH_HULL_APP_RELEASE_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AUTH_HULL_APP_RELEASE.AUTH_HULL_APP_RELEASE_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HULL_SERVER_INDEX.HULL_SERVER_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HULL_SERVER_INDEX.HULL_SERVER_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STATUS_INDEX.STATUS_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STATUS_INDEX.STATUS_NAME)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
