﻿@model Ashore_HAMS.Models3.HULL_APP_VERSION_MONITORING

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HULL_APP_VERSION_MONITORING</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TIME_DATE_RECORD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIME_DATE_RECORD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AFLOAT_HULL_APP_INSTALLED.AFLOAT_HULL_APP_INSTALLED_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AFLOAT_HULL_APP_INSTALLED.AFLOAT_HULL_APP_INSTALLED_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AUTH_HULL_APP_RELEASE.AUTH_HULL_APP_RELEASE_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AUTH_HULL_APP_RELEASE.AUTH_HULL_APP_RELEASE_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HULL_SERVER_INDEX.HULL_SERVER_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HULL_SERVER_INDEX.HULL_SERVER_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STATUS_INDEX.STATUS_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STATUS_INDEX.STATUS_NAME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HULL_APP_VERSION_MONITORING_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
