﻿@model Ashore_HAMS.Models3.USAGE_STATISTICS

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>USAGE_STATISTICS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CPU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CPU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CPU_DATA_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CPU_DATA_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MEM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MEM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MEM_DATA_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MEM_DATA_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SERVER_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SERVER_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CODE_CAPTURE_TIMESTAMP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CODE_CAPTURE_TIMESTAMP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIME_DATE_RECORD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIME_DATE_RECORD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HULL_SERVER_INDEX.HULL_SERVER_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HULL_SERVER_INDEX.HULL_SERVER_ID)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
