﻿@model IEnumerable<Ashore_HAMS.Models3.USAGE_STATISTICS>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CPU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CPU_DATA_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MEM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MEM_DATA_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SERVER_CODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CODE_CAPTURE_TIMESTAMP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TIME_DATE_RECORD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HULL_SERVER_INDEX.HULL_SERVER_ID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CPU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CPU_DATA_DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MEM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MEM_DATA_DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SERVER_CODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CODE_CAPTURE_TIMESTAMP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TIME_DATE_RECORD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HULL_SERVER_INDEX.HULL_SERVER_ID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.USAGE_STATISTICS_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.USAGE_STATISTICS_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.USAGE_STATISTICS_ID })
        </td>
    </tr>
}

</table>
