﻿@model Ashore_HAMS.Models3.AFLOAT_APP_INDEX

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AFLOAT_APP_INDEX</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AFLOAT_APP_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AFLOAT_APP_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DISPLAY_INDICATOR_INDEX.DISPLAY_INDICATOR_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DISPLAY_INDICATOR_INDEX.DISPLAY_INDICATOR_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INSTALLED_AFLOAT_APP_VENDOR_INDEX.INSTALLED_AFLOAT_APP_VENDOR_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INSTALLED_AFLOAT_APP_VENDOR_INDEX.INSTALLED_AFLOAT_APP_VENDOR_NAME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AFLOAT_APP_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
