﻿@model Ashore_HAMS.Models3.AFLOAT_AMENDMENT_INFO

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AFLOAT_AMENDMENT_INFO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AMENDMENT_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AMENDMENT_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SIZE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SIZE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRIORITY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRIORITY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COMPULSORY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COMPULSORY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.POST_PROCESSING)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.POST_PROCESSING)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DEPENDENCIES)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DEPENDENCIES)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AMENDMENT_CREATION_TIMESTAMP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AMENDMENT_CREATION_TIMESTAMP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIME_DATE_RECORD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIME_DATE_RECORD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AFLOAT_PUB_LEVELS.AFLOAT_PUB_LEVELS_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AFLOAT_PUB_LEVELS.AFLOAT_PUB_LEVELS_ID)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
