﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    4297 Pacific Highway<br />
    San Diego, CA<br />
    <abbr title="Phone">P:</abbr>
    xxx.xxx.xxxx
</address>

<address>
    <strong>Afloat POC:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Ashore POC:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>