﻿@model IEnumerable<Ashore_HAMS.Models3.AUTH_APP_RELEASE>

@{
    ViewBag.Title = "Index" + ViewBag.AUTH_APP_ID;
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", string.Format("Create/{0}", (int)ViewBag.AUTH_APP_ID))
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AUTH_VERSION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AUTH_APP_RELEASE_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TIME_DATE_RECORD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AUTH_APP_INDEX.AUTH_APP_NAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AUTH_VERSION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AUTH_APP_RELEASE_DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TIME_DATE_RECORD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AUTH_APP_INDEX.AUTH_APP_NAME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AUTH_APP_RELEASE_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AUTH_APP_RELEASE_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AUTH_APP_RELEASE_ID })
        </td>
    </tr>
}

</table>
<div>
    @Html.ActionLink("Back to List", "../AUTH_APP_VENDOR_INDEX")
</div>