﻿@model Ashore_HAMS.Models.HULL_INDEX

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>HULL_INDEX</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HULL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HULL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HULL_TYPE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HULL_TYPE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HULL_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HULL_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RETURN_SERVER_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RETURN_SERVER_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DISPLAY_INDICATOR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DISPLAY_INDICATOR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SERVER_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SERVER_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STATUS_INDEX.STATUS_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STATUS_INDEX.STATUS_NAME)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
