﻿@model Ashore_HAMS.Models.HULL_INDEX

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HULL_INDEX</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HULL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HULL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HULL_TYPE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HULL_TYPE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HULL_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HULL_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RETURN_SERVER_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RETURN_SERVER_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DISPLAY_INDICATOR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DISPLAY_INDICATOR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SERVER_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SERVER_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STATUS_INDEX.STATUS_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STATUS_INDEX.STATUS_NAME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HULL_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
