﻿@model IEnumerable<Ashore_HAMS.Models.HULL_INDEX>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HULL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HULL_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SERVER_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STATUS_INDEX.STATUS_NAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HULL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HULL_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SERVER_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STATUS_INDEX.STATUS_NAME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HULL_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.HULL_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HULL_ID })
        </td>
    </tr>
}

</table>
