﻿@model IEnumerable<MVCTut.Models.HAMS2.GroupByCount>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div class="jumbotron text-center" style="background-color: black">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3><font color="White">DS Update Version</font></h3>
                <p>
                    <div class="jam" style="background-color: black; height : 100px; width: 100px; align-content: center" ></div>
                </p>

            </div>
            <div class="col-sm-4">
                <h3><font color="White">Publication Index</font></h3>
                <p>
                    <div class="jam2" style="background-color: black; height : 100px; width: 100px; align-content: center"></div>
                </p>
            </div>
            <div class="col-sm-4">
                <h3><font color="White">Place Holder 3</font></h3>
                <p>
                    <div class="jam3" style="background-color: black; height : 100px; width: 100px; align-content: center"></div>
                </p>
            </div>
        </div>
   
    </div> 
</div>

<div class="container">
    <div class="row">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Key)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Count)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.Where(x => x.Key != null))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Key)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Count)
                    </td>
                </tr>
            }

        </table>
    </div>

</div>

@section Scripts
{
    <script type="text/javascript">
        function getRandom() {
            return Math.round(Math.random() * 60) + 20;
        }

        var jamChart = new RadialProgressChart('.jam', {
                diameter: 185,
                stroke: {
                    width: 60,
                    gap: 1
                },
                series: [
                    { labelStart: '\uF101', value:  10 }, // Model.Where(x => x.Key.Contains("009")).Select(x => x.Count);
                    { labelStart: '\uF105', value:  25 },
                    { labelStart: '\uF106', value: 75 }
                ]
            }
        );

        var jamChart2 = new RadialProgressChart('.jam2', {
            diameter: 185,
            stroke: {
                width: 60,
                gap: 1
            },
            series: [
                { labelStart: '\uF101', value: 50 },
                { labelStart: '\uF105', value: 117 },
                { labelStart: '\uF106', value: 45 }
            ]
        }
        );

        var jamChart3 = new RadialProgressChart('.jam3', {
            diameter: 185,
            stroke: {
                width: 60,
                gap: 1
            },
            series: [
                { labelStart: '\uF101', value: 50 },
                { labelStart: '\uF105', value: 117 },
                { labelStart: '\uF106', value: 45 }
            ]
        }
        );


        var x = setInterval(function () {
            jamChart2.update([getRandom(), getRandom(), getRandom()]);
            jamChart3.update([getRandom(), getRandom(), getRandom()]);
        }, 5000);

    </script>

}