﻿@model Ashore_HAMS.Models3.USER_STATISTICS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>USER_STATISTICS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ACCESSED_PAGE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACCESSED_PAGE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACCESSED_TIMESTAMP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACCESSED_TIMESTAMP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USER_INDEX.CAC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USER_INDEX.CAC)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.USER_STATISTICS_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
