﻿@model IEnumerable<Ashore_HAMS.Models3.USER_STATISTICS>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ACCESSED_PAGE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ACCESSED_TIMESTAMP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USER_INDEX.CAC)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ACCESSED_PAGE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ACCESSED_TIMESTAMP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USER_INDEX.CAC)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.USER_STATISTICS_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.USER_STATISTICS_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.USER_STATISTICS_ID })
        </td>
    </tr>
}

</table>
