﻿@model AfloatHAMS.Models.DirectoryStructure

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>@Model.HullServer.HULL_INDEX.HULL</h1> <h2>@Model.HullServer.HULL_INDEX.HULL_NAME</h2>
    <p class="lead">@Model.HullServer.SERVER_INDEX.SERVERNAME</p>
</div>

<div class="row">
    <div class="col-lg-1">
        <h3>Training Files</h3>
        <p>
            List of Downloaded Files
        </p>
        <p>
            <table>
                <tr>
                    <th>Filename</th>
                    <th>Filesize</th>
                </tr>
                @{
        foreach (AfloatHAMS.Models.FileModel fileModel in Model.Files)
        {
                <tr>
                    <td>@fileModel.FileName</td>
                    <td>@fileModel.FileSize</td>
                </tr>

        }
                }
            </table>
        </p>
    </div>
</div>