﻿@model MVCTut.Models.CM

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ServerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NIAPSVersion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NIAPSVersion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
