﻿@model Ashore_HAMS.Models3.UNAUTHORIZED_PROGRAMS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UNAUTHORIZED_PROGRAMS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TIME_DATE_RECORD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIME_DATE_RECORD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AFLOAT_HULL_APP_INSTALLED.AFLOAT_HULL_APP_INSTALLED_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AFLOAT_HULL_APP_INSTALLED.AFLOAT_HULL_APP_INSTALLED_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COMPLIANCE_STATUS_INDEX.COMPLIANCE_STATUS_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COMPLIANCE_STATUS_INDEX.COMPLIANCE_STATUS_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DISPLAY_INDICATOR_INDEX.DISPLAY_INDICATOR_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DISPLAY_INDICATOR_INDEX.DISPLAY_INDICATOR_NAME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UNAUTHORIZED_PROGRAMS_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
