﻿@model IEnumerable<Ashore_HAMS.Models3.UNAUTHORIZED_PROGRAMS>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Id
        </th>
        <th>
            Vendor
        </th>
        <th>
            App Name
        </th>
        <th>
            Version
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COMPLIANCE_STATUS_INDEX.COMPLIANCE_STATUS_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DISPLAY_INDICATOR_INDEX.DISPLAY_INDICATOR_NAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AFLOAT_HULL_APP_INSTALLED.AFLOAT_HULL_APP_INSTALLED_ID)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.AFLOAT_HULL_APP_INSTALLED.AFLOAT_APP_VERSION_INDEX.AFLOAT_APP_INDEX.INSTALLED_AFLOAT_APP_VENDOR_INDEX.INSTALLED_AFLOAT_APP_VENDOR_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AFLOAT_HULL_APP_INSTALLED.AFLOAT_APP_VERSION_INDEX.AFLOAT_APP_INDEX.AFLOAT_APP_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AFLOAT_HULL_APP_INSTALLED.AFLOAT_APP_VERSION_INDEX.AFLOAT_VERSION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COMPLIANCE_STATUS_INDEX.COMPLIANCE_STATUS_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DISPLAY_INDICATOR_INDEX.DISPLAY_INDICATOR_NAME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.UNAUTHORIZED_PROGRAMS_ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.UNAUTHORIZED_PROGRAMS_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.UNAUTHORIZED_PROGRAMS_ID })
        </td>
    </tr>
}

</table>
