﻿@model Ashore_HAMS.Models3.ASHORE_AMENDMENT_INFO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ASHORE_AMENDMENT_INFO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AMENDMENT_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AMENDMENT_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SIZE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SIZE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRIORITY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRIORITY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COMPULSORY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COMPULSORY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.POST_PROCESSING)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.POST_PROCESSING)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DEPENDENCIES)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DEPENDENCIES)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AMENDMENT_CREATION_TIMESTAMP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AMENDMENT_CREATION_TIMESTAMP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIME_DATE_RECORD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIME_DATE_RECORD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ASHORE_PUB_LEVELS.ASHORE_PUB_LEVELS_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ASHORE_PUB_LEVELS.ASHORE_PUB_LEVELS_ID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AMENDMENT_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
