﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@using (Html.BeginForm("Index", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="text" name="folder_id" value=""/>
    <input type="file" name="file" />
    <p></p>
    <input type="submit" value="OK" />
}