﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://opensource.keycdn.com/angularjs/1.6.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.0/d3.js"></script>
    @*<script src="/Scripts/d3.min.js"></script>*@

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    <style>
        /* Center the loader */
        #loader {
          position: absolute;
          left: 50%;
          top: 50%;
          z-index: 1;
          margin: -75px 0 0 -75px;
          border: 16px solid #f3f3f3;
          border-radius: 50%;
          border-top: 16px solid #3498db;
          width: 100px;
          height: 100px;
          -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
        }

        @@-webkit-keyframes spin {
          0% { -webkit-transform: rotate(0deg); }
          100% { -webkit-transform: rotate(360deg); }
        }

        @@keyframes spin {
          0% { transform: rotate(0deg); }
          100% { transform: rotate(360deg); }
        }

        /* Add animation to "page content" */
        .animate-bottom {
          position: relative;
          -webkit-animation-name: animatebottom;
          -webkit-animation-duration: 1s;
          animation-name: animatebottom;
          animation-duration: 1s
        }

        @@-webkit-keyframes animatebottom {
          from { bottom:-100px; opacity:0 }
          to { bottom:0px; opacity:1 }
        }

        @@keyframes animatebottom {
          from{ bottom:-100px; opacity:0 }
          to{ bottom:0; opacity:1 }
        }

    </style>


    <style>
        #progressbar {
            margin-top: 20px;
        }

        .progress-label {
            font-weight: bold;
            text-shadow: 1px 1px 0 #fff;
        }

        .ui-dialog-titlebar-close {
            display: none;
        }
    </style>


    <style>
        body {
            font-family: "Lato", sans-serif;
        }

        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 50px;
            left: 0;
            background-color: black;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }

            .sidenav a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 25px;
                color: #818181;
                display: block;
                transition: 0.3s;
            }

                .sidenav a:hover {
                    color: #f1f1f1;
                }

            .sidenav .closebtn {
                position: absolute;
                top: 0;
                right: 25px;
                font-size: 36px;
                margin-left: 50px;
            }

        #main {
            transition: margin-left .2s;
            padding: 1px;
        }

        @@media screen and (max-height: 450px) {
            .sidenav {
                padding-top: 15px;
            }

                .sidenav a {
                    font-size: 18px;
                }
        }


        * {
            box-sizing: border-box;
        }

        .heading {
            font-size: 25px;
            margin-right: 25px;
        }

        .fa {
            font-size: 25px;
        }

        .checked {
            color: orange;
        }

        /* Three column layout */
        .side {
            float: left;
            width: 15%;
            margin-top: 10px;
        }

        .middle {
            margin-top: 10px;
            float: left;
            width: 70%;
        }

        /* Place text to the right */
        .right {
            text-align: right;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        /* The bar container */
        .bar-container {
            width: 100%;
            background-color: #f1f1f1;
            text-align: center;
            color: white;
        }

        /* Individual bars */
        .bar-5 {
            width: 60%;
            height: 18px;
            background-color: #4CAF50;
        }

        .bar-4 {
            width: 30%;
            height: 18px;
            background-color: #2196F3;
        }

        .bar-3 {
            width: 10%;
            height: 18px;
            background-color: #00bcd4;
        }

        .bar-2 {
            width: 4%;
            height: 18px;
            background-color: #ff9800;
        }

        .bar-1 {
            width: 15%;
            height: 18px;
            background-color: #f44336;
        }

        /* Responsive layout - make the columns stack on top of each other instead of next to each other */
        @@media (max-width: 400px) {
            .side, .middle {
                width: 100%;
            }

            .right {
                display: none;
            }
        }

        .Navy-Logo {
            position: absolute;
            left: 0;
            top: 15px;
            z-index: 5000;
        }
    </style>
</head>
<body>
    <div class="Navy-Logo" style="top:-10px">
        <a href="javascript:;" onclick="javascript:getParentUrl()" id="onetidProjectPropertyTitleGraphic">
            <img id="ctl00_onetidHeadbnnr2" src="/Images/Default_Site_Logo.png" alt="SPAWAR" style="border-width:0px;">
        </a>
    </div>
    <div class="navbar navbar-inverse navbar-fixed-top" style="align-content: center; align-items:center">
        <div id="mySidenav" style="align-content: center" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div style="align-content: center" class="container">
                <div class="row">
                    <table style="width: 100%" border="1">
                        <tr style="background: brown; cursor:pointer" onclick="hide('casrep_chart')">
                            <td align="center" valign="middle">
                                <h4><font color="White">Software Compliance</font></h4>

                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <div id="casrep_chart" style="cursor:pointer" onclick="window.location.href = '/Dashboards/Details/5';">

                                    <p>
                                        <div class="jam0" style="left: 100px; background-color: black; height : 100px; width: 100px; align-content: center"></div>
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>


                <div class="row">
                    <table style="width: 100%" border="1">
                        <tr style="background: brown; cursor:pointer" onclick="hide('pub_chart')">
                            <td align="center" valign="middle">
                                <h4><font color="White">Replication</font></h4>
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <div id="pub_chart" style="cursor:pointer" onclick="javascript: window.location.href = '/Dashboards/Details/5';">

                                    <p>
                                        <div class="jam" style="left: 100px; background-color: black; height : 100px; width: 100px; align-content: center"></div>
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="row">
                    <table style="width: 100%" border="1">
                        <tr style="background: brown; cursor:pointer" onclick="hide('rd_chart')">
                            <td align="center" valign="middle">
                                <h4><font color="White">Connectivity</font></h4>
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <div id="rd_chart" style="cursor:pointer" onclick="javascript: window.location('Dashboards/Details/5');">

                                    <p>
                                        <div class="jam2" style="left: 100px; background-color: black; height : 100px; width: 100px; align-content: center"></div>
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="row">
                    <table style="width: 100%" border="1">
                        <tr style="background: brown; cursor:pointer" onclick="hide('mr_chart')">
                            <td align="center" valign="middle">
                                <h4><font color="White">Message Relay</font></h4>
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <div id="mr_chart" style="display: none;cursor:pointer" onclick="javascript: window.location('Dashboards/Details/5');">

                                    <p>
                                        <div class="jam3" style="left: 100px; background-color: black; height : 100px; width: 100px; align-content: center"></div>
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="row">
                    <table style="width: 100%" border="1">
                        <tr style="background: brown; cursor:pointer" onclick="hide('n_chart')">
                            <td align="center" valign="middle">
                                <h4><font color="White">Notifications</font></h4>
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <div id="n_chart" style="display: none;cursor:pointer" onclick="javascript: window.location('Dashboards/Details/5');">

                                    <p>
                                        <div class="jam4" style="left: 100px; background-color: black; height : 100px; width: 100px; align-content: center"></div>
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="row">
                    <table style="width: 100%" border="1">
                        <tr style="background: brown; cursor:pointer" onclick="hide('cs_chart')">
                            <td align="center" valign="middle">
                                <h4><font color="White">Cust/Ship FTP</font></h4>
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <div id="cs_chart" style="display: none;cursor:pointer">

                                    <p>
                                        <div class="jam5" style="left: 100px; background-color: black; height : 100px; width: 100px; align-content: center"></div>
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>



            </div>

        </div>
        <div class="container">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                </button>

                @Html.ActionLink("  Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="font-size: 120%">
                    <li>@Html.ActionLink("Dashboard", "Index", "Dashboards")</li>
                    <li>@Html.ActionLink("Dashboard2", "Index", "Dashboards2")</li>
                    <li>@Html.ActionLink("Dashboard Demo", "Index", "Content/demo")</li>
                    <li>@Html.ActionLink("Server Status", "Index", "HULL_SERVER_VIEW")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Hulls", "Index", "HULL_INDEX1")</li>
                            <li>@Html.ActionLink("Vendors", "Index", "AUTH_APP_VENDOR_INDEX")</li>
                            <li>@Html.ActionLink("Authorized App", "Index", "AUTH_APP_INDEX")</li>
                            <li>@Html.ActionLink("UnAuthorized App", "Index", "UNAUTHORIZED_PROGRAMS")</li>
                            <li>@Html.ActionLink("Ashore Amendment Info", "Index", "ASHORE_AMENDMENT_INFO")</li>
                            <li>@Html.ActionLink("Afloat Pub Levels", "Index", "AFLOAT_PUB_LEVELS")</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Pub Index", "Index", "PubIndexes")</li>
                            <li>@Html.ActionLink("Server", "Index", "Servers")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer style="text-align: right;">
            <p>&copy; @DateTime.Now.Year - SSC Pacific | <img style="width: 64px; height: 50px;" src="~/Images/sscpaclogo.png"></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/radial-progress-chart")
    @Scripts.Render("~/bundles/jquery-ui")

    @RenderSection("scripts", required: false)

    <script>


        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        }

        function hide(id) {
            var x = document.getElementById(id);
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }



        function getRandom() {
            return Math.round(Math.random() * 60) + 20;
        }

        var jamChart0 = new RadialProgressChart('.jam0', {
            diameter: 185,
            stroke: {
                width: 60,
                gap: 1
            },
            series: [
                { labelStart: '\uF101', value: 50 }, // Model.Where(x => x.Key.Contains("009")).Select(x => x.Count);
                { labelStart: '\uF105', value: 33 },
                { labelStart: '\uF106', value: (40 / 70.0) * 100 }
            ]
        }
        );

        var jamChart = new RadialProgressChart('.jam', {
            diameter: 185,
            stroke: {
                width: 60,
                gap: 1
            },
            series: [
                { labelStart: '\uF101', value: 10 }, // Model.Where(x => x.Key.Contains("009")).Select(x => x.Count);
                { labelStart: '\uF105', value: 25 },
                { labelStart: '\uF106', value: 75 }
            ]
        }
        );

        var jamChart2 = new RadialProgressChart('.jam2', {
            diameter: 185,
            stroke: {
                width: 60,
                gap: 1
            },
            series: [
                { labelStart: '\uF101', value: 50 },
                { labelStart: '\uF105', value: 117 },
                { labelStart: '\uF106', value: 45 }
            ]
        }
        );

        var jamChart3 = new RadialProgressChart('.jam3', {
            diameter: 185,
            stroke: {
                width: 60,
                gap: 1
            },
            series: [
                { labelStart: '\uF101', value: 50 },
                { labelStart: '\uF105', value: 117 },
                { labelStart: '\uF106', value: 45 }
            ]
        }
        );

        var jamChart4 = new RadialProgressChart('.jam4', {
            diameter: 185,
            stroke: {
                width: 60,
                gap: 1
            },
            series: [
                { labelStart: '\uF101', value: 50 },
                { labelStart: '\uF105', value: 117 },
                { labelStart: '\uF106', value: 45 }
            ]
        }
        );

        var jamChart5 = new RadialProgressChart('.jam5', {
            diameter: 185,
            stroke: {
                width: 60,
                gap: 1
            },
            series: [
                { labelStart: '\uF101', value: 50 },
                { labelStart: '\uF105', value: 117 },
                { labelStart: '\uF106', value: 45 }
            ]
        }
        );

        function updateJamChart0() {
            $.ajax({
                url: '/api/AuthorizedApplication',
                type: "GET",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                cache: false,
                async: true,
                success: function (data) {
                    console.log(data);
                    jamChart0.update([.0010 + data.MsgUpdate, .0010 + data.AuthAppSummary, .0010 + data.ReleasedVsUnreleased]);
                }
            });
        }

        console.log(window.location.href.indexOf("Dashboards2"));

        if (window.location.href.indexOf("Dashboards2") < 0) {
            var x = setInterval(function () {
                updateJamChart0();
                jamChart.update([getRandom(), getRandom(), getRandom()]);
                jamChart2.update([getRandom(), getRandom(), getRandom()]);
                jamChart3.update([getRandom(), getRandom(), getRandom()]);
                jamChart4.update([getRandom(), getRandom(), getRandom()]);
            }, 3000);
        }


    </script>

</body>
</html>
