﻿@model Ashore_HAMS.Models3.AUTH_APP_VENDOR_INDEX

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AUTH_APP_VENDOR_INDEX</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AUTH_APP_VENDOR_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AUTH_APP_VENDOR_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DISPLAY_INDICATOR_INDEX.DISPLAY_INDICATOR_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DISPLAY_INDICATOR_INDEX.DISPLAY_INDICATOR_NAME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AUTH_APP_VENDOR_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<p>
    @Html.ActionLink("Create New Authorized App", "../AUTH_APP_INDEX/Create/", new { id = Model.AUTH_APP_VENDOR_ID })
</p>
<p>
    <table class="table">
        <tr>
            <th>
                App Name
            </th>
            <th>
                Authorized Versions & Release Dates
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.AUTH_APP_INDEX)
        {
            <tr>
                <td>
                    @item.AUTH_APP_NAME
                </td>
                <td>
                @foreach(var item2 in item.AUTH_APP_RELEASE)
                {
                    <div>@item2.AUTH_VERSION &nbsp; @item2.AUTH_APP_RELEASE_DATE</div>
                }
                </td>
                <td>
                    @Html.ActionLink("Add/Modify", "../AUTH_APP_RELEASE/Index/", new { id = item.AUTH_APP_ID })
                </td>
            </tr>
        }
    </table>
</p>
