﻿
@{
    ViewBag.Title = "Customer FTP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer File Transport Page</h2>
<h4>Select File to start the Replication Process</h4>

@using (Html.BeginForm("Index", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @*<input type="text" name="folder_id" value=""/>*@
    <input type="file" name="file" />
    <p></p>
    <input class="btn-primary" type="submit" value="Submit" />
}