﻿@model Ashore_HAMS.Models3.ASHORE_CLIENT_LEVELS

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ASHORE_CLIENT_LEVELS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ASHORE_CLIENT_LEVEL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ASHORE_CLIENT_LEVEL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ASHORE_CLIENT_PUB_EXTRACTION_TIMESTAMP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ASHORE_CLIENT_PUB_EXTRACTION_TIMESTAMP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIME_DATE_RECORD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIME_DATE_RECORD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HULL_PUB_INDEX.HULL_PUB_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HULL_PUB_INDEX.HULL_PUB_ID)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
