﻿@model IEnumerable<Ashore_HAMS.Models3.ASHORE_CLIENT_LEVELS>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ASHORE_CLIENT_LEVEL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ASHORE_CLIENT_PUB_EXTRACTION_TIMESTAMP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TIME_DATE_RECORD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HULL_PUB_INDEX.HULL_PUB_ID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ASHORE_CLIENT_LEVEL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ASHORE_CLIENT_PUB_EXTRACTION_TIMESTAMP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TIME_DATE_RECORD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HULL_PUB_INDEX.HULL_PUB_ID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ASHORE_CLIENT_LEVELS_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ASHORE_CLIENT_LEVELS_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ASHORE_CLIENT_LEVELS_ID })
        </td>
    </tr>
}

</table>
