﻿@model IEnumerable<Ashore_HAMS.Models3.Dashboard>

@{
    ViewBag.Title = "Index";
}


<h2>Dashboard 2</h2>

<div id="main">
    <div class="row">
        <table border="0">
            <tr>
                <td align="center">
                    <div class="panel panel-default" style="margin: 10px;">
                        <div class="panel-body">
                            <div id="pie1" style="left: 0px;background-color: white"></div>
                        </div>
                    </div>
                </td>

                <td align="center">
                    <div class="panel panel-default" style="margin: 10px;">
                        <div class="panel-body">
                            <div id="pie2" style="left: 0px;background-color: white"></div>
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td align="center">
                    <div class="panel panel-default" style="margin: 10px;">
                        <div class="panel-body">
                            <div id="pie3" style="left: 0px;background-color: white"></div>
                        </div>
                    </div>
                </td>
                <td align="center">
                    <div class="panel panel-default" style="margin: 10px;">
                        <div class="panel-body">
                            <div id="pie4" style="left: 0px;background-color: white"></div>
                        </div>
                    </div>
                </td>

            </tr>
        </table>
    </div>
</div>

@section Scripts
{
    <script src="/Scripts/d3.min.js"></script>
    <script src="/Scripts/d3pie.min.js"></script>

    <script>
        var pie = new d3pie("pie1", {
            header: {
                title: {
                    text: "Apps"
                },
                location: "pie-center"
            },
            size: {
                pieInnerRadius: "70%",
                canvasHeight: 250,
                canvasWidth: 300
            },
            data: {
                sortOrder: "label-asc",
                content: [
                    { label: "Compliant", value: 3, color: "green" },
                    { label: "Warning", value: 4, color: "orange" },
                    { label: "Critical", value: 3, color: "red" }
                ]
            },
            callbacks: {
                onClickSegment: function (a) {
                    alert("Segment clicked! See the console for all data passed to the click handler.");

                    buildTable("ORACLE_Oracle DB_11.1");

                    console.log(a);
                }
            }
        });

        var pie2 = new d3pie("pie2", {
            header: {
                title: {
                    text: "Replication"
                },
                location: "pie-center"
            },
            size: {
                pieInnerRadius: "70%",
                canvasHeight: 250,
                canvasWidth: 300
            },
            data: {
                sortOrder: "label-asc",
                content: [
                    { label: "Compliant", value: 3, color: "green" },
                    { label: "Warning", value: 4, color: "orange" },
                    { label: "Critical", value: 3, color: "red" }
                ]
            }
        });

        var pie3 = new d3pie("pie3", {
            header: {
                title: {
                    text: "Comms"
                },
                location: "pie-center"
            },
            size: {
                pieInnerRadius: "70%",
                canvasHeight: 250,
                canvasWidth: 300
            },
            data: {
                sortOrder: "label-asc",
                content: [
                    { label: "Compliant", value: 3, color: "green" },
                    { label: "Warning", value: 4, color: "orange" },
                    { label: "Critical", value: 3, color: "red" }
                ]
            }
        });

        var pie4 = new d3pie("pie4", {
            header: {
                title: {
                    text: "Users"
                },
                location: "pie-center"
            },
            size: {
                pieInnerRadius: "70%",
                canvasHeight: 250,
                canvasWidth: 300
            },
            data: {
                sortOrder: "label-asc",
                content: [
                    { label: "Compliant", value: 3, color: "green" },
                    { label: "Warning", value: 4, color: "orange" },
                    { label: "Critical", value: 3, color: "red" }
                ]
            }
        });


        function littleDelay() {
            myVar = setTimeout(showPage, 1000);
        }

        function showPage() {
            document.getElementById("loader").style.display = "none";
            document.getElementById("main").style.display = "block";
        }

        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        }

        function hide(id) {
            var x = document.getElementById(id);
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }




    </script>

}