﻿@model Ashore_HAMS.Models3.AUTH_HULL_APP_RELEASE

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AUTH_HULL_APP_RELEASE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HULL_APP_RELEASE_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HULL_APP_RELEASE_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIME_DATE_RECORD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIME_DATE_RECORD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AUTH_APP_RELEASE.AUTH_VERSION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AUTH_APP_RELEASE.AUTH_VERSION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HULL_SERVER_INDEX.HULL_SERVER_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HULL_SERVER_INDEX.HULL_SERVER_ID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AUTH_HULL_APP_RELEASE_ID }) |
    @Html.ActionLink("Back to List", string.Format("Index/{0}", Model.HULL_SERVER_ID))
</p>
