﻿@model MVCTut.Models.AmendmentInfo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>AmendmentInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PubLevelsId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PubLevelsId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmendmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmendmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsCompulsory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsCompulsory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostProcessing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostProcessing)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dependencies)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dependencies)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
