﻿@model IEnumerable<MVCTut.Models.AmendmentInfo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PubLevelsId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmendmentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsCompulsory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostProcessing)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dependencies)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PubLevelsId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmendmentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsCompulsory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostProcessing)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dependencies)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
