﻿@model IEnumerable<Ashore_HAMS.Models3.AUTH_HULL_APP_RELEASE>

@{
    if(Model.Count() > 0)
    {
        var x = ((IList<Ashore_HAMS.Models3.AUTH_HULL_APP_RELEASE>)Model)[0];
        var hullName = x.HULL_SERVER_INDEX.HULL_INDEX.HULL_NAME;
        var serverName = x.HULL_SERVER_INDEX.SERVER_INDEX.SERVERNAME;
        ViewBag.ID = x.HULL_SERVER_ID;
        ViewBag.Title = string.Format("{0} : {1}", hullName, serverName);
    }

}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { id =  ViewBag.ID })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AUTH_APP_RELEASE.AUTH_APP_INDEX.AUTH_APP_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AUTH_APP_RELEASE.AUTH_VERSION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HULL_APP_RELEASE_DATE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AUTH_APP_RELEASE.AUTH_APP_INDEX.AUTH_APP_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AUTH_APP_RELEASE.AUTH_VERSION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HULL_APP_RELEASE_DATE)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AUTH_HULL_APP_RELEASE_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AUTH_HULL_APP_RELEASE_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AUTH_HULL_APP_RELEASE_ID })
        </td>
    </tr>
}

</table>
