﻿
@{
    ViewBag.Title = "Logout";
}

<h2>User Logged Out</h2>

@ViewBag.CAC_SUBJ

@using (Html.BeginForm("/", "Banner", FormMethod.Post))
{
    <input type="submit" class="btn btn-success" value="Re-Login">
}

<p></p>

<p>
    @Html.ActionLink("Simulated CAC Login", "SimCacLogin", "Banner")
</p>