﻿
@{
    ViewBag.Title = "Simulated Cac Login";
}

<h2>Simulated Cac Login</h2>



@using (Html.BeginForm("SimCacLogin", "Banner", FormMethod.Post))
{
    <input type="submit" class="btn btn-success" value="Simulated CAC Login">
}