﻿@model IEnumerable<Ashore_HAMS.Models3.DS_UPDATE_ACTIVITY>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CONTACT_TIMESTAMP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ACTIVITY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EXECUTOR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TIME_DATE_RECORD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HULL_SERVER_INDEX.HULL_SERVER_ID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CONTACT_TIMESTAMP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ACTIVITY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EXECUTOR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TIME_DATE_RECORD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HULL_SERVER_INDEX.HULL_SERVER_ID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DS_UPDATE_ACTIVITY_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DS_UPDATE_ACTIVITY_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DS_UPDATE_ACTIVITY_ID })
        </td>
    </tr>
}

</table>
