﻿@model Ashore_HAMS.Models3.AUTH_APP_INDEX

@{
    ViewBag.Title = Html.DisplayFor(model => model.AUTH_APP_VENDOR_INDEX.AUTH_APP_VENDOR_NAME) + " " + Html.DisplayFor(model => model.AUTH_APP_NAME);
}

<h2>@ViewBag.Title</h2>

@{
    var index = 0;
    var key = Html.DisplayFor(model => model.AUTH_APP_VENDOR_INDEX.AUTH_APP_VENDOR_NAME) + "_" + Html.DisplayFor(model => model.AUTH_APP_NAME);
}

<table class="table" border="0">
    @foreach (var item in Model.AUTH_APP_RELEASE)
    {
    <tr>
        <td colspan="2" width="100%">
            <table width="100%" border="0">
                <tr id="@(index++)" onclick="popup(this, @item.AUTH_APP_RELEASE_ID, '@(key)_@(item.AUTH_VERSION)');">
                    <td><h4>Version: @item.AUTH_VERSION</h4></td>

                    <td><h4>Release Date: @item.AUTH_APP_RELEASE_DATE</h4></td>
                </tr>
            </table>
        </td>
    </tr>
    }
</table>
    
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AUTH_APP_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>




@section Scripts
{
    <script type="text/javascript">
        function popup(tr_elem, id, key) {
            var rowId = parseInt(tr_elem.id);
            var table = tr_elem.parentNode;

            //console.log(rowId);

            var row = table.insertRow(-1);
            //row.id = rowId + "_" + id;
            var td = $('<td colspan="2"></td>');
            $(row).append(td);


            $.ajax({
                url: '/api/App2Ship/Get?key=' + key,
                type: "GET",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                cache: false,
                async: true,
                success: function (data) {
                    var table2 = $('<table class="table table-bordered" width="100%" border="0"></table>');
                    td.append(table2);

                    var row2 = $('<tr></tr>');
                    table2.append(row2);

                    var cell2 = $('<td>Hull</td><td>Name</td><td>Server</td>');

                    var closeButton = $('<button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>');
                    closeButton.on("click", function () {
                        $(row).remove();
                    });

                    var cellClose = $('<td></td>')

                    cellClose.append(closeButton);

                    row2.append(cell2);
                    row2.append(cellClose);

                    data.forEach(function (elem) {
                        //var row2 = $('<tr></tr>');
                        //table2.append(row2);

                        //var cell2 = $('<td></td>');
                        //cell2.append(elem.HULL)
                        //row2.append(cell2);

                        var row3 = $('<tr></tr>');
                        table2.append(row3);

                        var cell3 = $('<td>' + elem.HULL + '</td>');
                        row3.append(cell3);

                        var cell5 = $('<td>' + elem.HULL_NAME + '</td>');
                        row3.append(cell5);

                        var cell4 = $('<td>' + elem.SERVERNAME + '</td><td>Link</td>');
                        row3.append(cell4);

                        console.log(elem.SERVERNAME);
                    });
                }
            });


        }
    </script>
}