﻿@model MVCTut.Models.HAMS2.Pub_page

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pub_page</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ServerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PubName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PubName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocalRevLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocalRevLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Available)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Available)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Auto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Auto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Freq)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Freq)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
