﻿@model IEnumerable<MVCTut.Models.HAMS2.Pub_page>

@{
    ViewBag.Title = "Publication Page";
}

<h2>@ViewBag.ServerName @ViewBag.Title</h2>

<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PubName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocalRevLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Available)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Auto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Freq)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PubName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocalRevLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Available)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Auto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Freq)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.id })
        </td>
    </tr>
}

</table>
