﻿@{
    ViewBag.Title = "Home Page";
}

<div id="main">
    <div class="jumbotron">
        <h2><span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; NIAPS 3.X Critical Design Review Demo</span></h2><h1>HAMS ASHORE (Prototype)</h1>
        

    </div>

    <div class="row">
        <div class="col-md-4">
            <span style="text-decoration:underline;"><i class="icon-docker" style="font-size:2em"></i><span style="font-size:32px" class="lead">Afloat Info</span></span>

            <p>
                Centralized Tracking of All Current Inventory and Configuration Management details on each ship.
            </p>
            <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <span style="text-decoration:underline;"><i class="icon-alpinelinux" style="font-size:2em"></i><span style="font-size:32px" class="lead">Ashore Info</span></span>


            <p>Improves Advance Level of Automation and Replication Visibility.</p>
            <p><a class="btn btn-default" href="">Add New Application &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <span style="text-decoration:underline;"><i class="icon-codepen" style="font-size:2em"></i><span style="font-size:32px" class="lead">Dashboard</span></span>
            <p>View a Sample Dashboard View</p>
            <p><a class="btn btn-default" href="/Sample">Sample Dashboard &raquo;</a></p>
        </div>
    </div>




</div>

