﻿@model Ashore_HAMS.Models3.DRIVE_INDEX

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DRIVE_INDEX</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DRIVE_LETTER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DRIVE_LETTER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AVAIL_SPACE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AVAIL_SPACE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USED_SPACE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USED_SPACE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COLLECTED_TIMESTAMP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COLLECTED_TIMESTAMP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIME_DATE_RECORD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIME_DATE_RECORD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HULL_SERVER_INDEX.HULL_SERVER_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HULL_SERVER_INDEX.HULL_SERVER_ID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DRIVE_INDEX_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
