﻿@model MVCTut.Models.HAMS2.Ship_Status

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ship_Status</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ShipName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShipName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Version)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Version)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastContact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastContact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdatesComplete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdatesComplete)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
