﻿@model IEnumerable<MVCTut.Models.HAMS2.ShipStatusView>

@{
    ViewBag.Title = "Distance Support Server Status";
}

<h2>@ViewBag.Title</h2>

<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ServerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastContact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShipName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DSUpdateVer)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr style="cursor: pointer;" onclick='redirect({ "serverName" : "@(item.ServerName)"});'>
        <td>
            <span class="label label-@(item.BackgroundColor)">@Html.DisplayFor(modelItem => item.ServerName)</span>
        </td>   
        <td>
            @Html.DisplayFor(modelItem => item.LastContact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShipName)
        </td>
        <td>
            @{
                var mode = "default";
                if (item.DSUpdateVer != null && Int32.Parse(item.DSUpdateVer) > 8)
                {
                    mode = "success";
                }
                else if (item.DSUpdateVer != null && Int32.Parse(item.DSUpdateVer) >= 5)
                {
                    mode = "warning";
                }
                else if (item.DSUpdateVer != null && Int32.Parse(item.DSUpdateVer) < 4)
                {
                    mode = "danger";
                }
            }

            <span class="label label-@(mode)">@Html.DisplayFor(modelItem => item.DSUpdateVer)</span>
            @*@Html.DisplayFor(modelItem => item.DsUpdateVer)*@
        </td>

        <td>
            @Html.ActionLink("Details", "Details", new { id=item.id })
        </td>
    </tr>
}

</table>

@section Scripts
{
    <script type="text/javascript">
        function redirect(info) {
            //alert(info.serverName + "<END>");
           window.location.href = "/PubPage?serverName=" + info.serverName;
        }

    </script>

}
