﻿<div class="jumbotron">
    <h1>Axway Simulator</h1>
    <p class="lead">Version 5.3</p>
    <p><a class="btn btn-primary" href="Upload">Start here to upload files &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <p><a class="btn btn-primary" href="Help">DSUpdate API Service Here &raquo;</a></p>
    </div>
</div>