﻿@model Ashore_HAMS.Models3.AFLOAT_PUB_LEVELS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AFLOAT_PUB_LEVELS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AFLOAT_PUB_LEVEL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AFLOAT_PUB_LEVEL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AFLOAT_PUB_RELEASE_TIMESTAMP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AFLOAT_PUB_RELEASE_TIMESTAMP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIME_DATE_RECORD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIME_DATE_RECORD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HULL_PUB_INDEX.HULL_PUB_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HULL_PUB_INDEX.HULL_PUB_ID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AFLOAT_PUB_LEVELS_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
