﻿@model IEnumerable<Ashore_HAMS.Models3.SERVER_INDEX>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SERVERNAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DISPLAY_INDICATOR_INDEX.DISPLAY_INDICATOR_NAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SERVERNAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DISPLAY_INDICATOR_INDEX.DISPLAY_INDICATOR_NAME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SERVER_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SERVER_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SERVER_ID })
        </td>
    </tr>
}

</table>
