﻿@model Ashore_HAMS.Models3.HULL_SERVER_VIEW

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HULL_SERVER_VIEW</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
