﻿@model IEnumerable<Ashore_HAMS.Models3.HULL_SERVER_VIEW>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HULL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HULL_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SERVERNAME)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HULL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HULL_NAME)
        </td>
        <td>

            @{
                var mode = "default";
                if (item.STATUS_ID == 3)
                {
                    mode = "success";
                }
                else if (item.STATUS_ID == 2)
                {
                    mode = "warning";
                }
                else if (item.STATUS_ID == 1)
                {
                    mode = "danger";
                }
            }

            <span class="label label-@(mode)">@Html.DisplayFor(modelItem => item.SERVERNAME)</span>
        </td>

        <td>
        </td>
    </tr>
}

</table>
