﻿@model IEnumerable<Ashore_HAMS.Models3.Dashboard>

@{
    ViewBag.Title = "Index";
}

<div id="loader"></div>

<div id="main" style="display: none" class="animate-bottom">

    <h2><span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>Dashboard</h2>

    <div ng-app="myApp" ng-controller="dashboardCtrl">
        <div ng-repeat="d in dashboards">
            <hr style="border:1px solid lightgrey;">
            <h4>{{d.module}}</h4>
            <hr style="border:1px solid black;">

            <div class="row" style="cursor:pointer;" id="{{d.Id}}" >
                <div class="side">
                    <div>{{d.normal_message}}</div>
                </div>
                <div>
                <div class="middle">
                    <div class="bar-container" ng-click="f(0, d.Id);">
                        <div id="bar{{d.Id}}_1" style="width: {{(d.normal / d.total) * 100}}%" class="bar-5"></div>
                    </div>
                </div>
                <div class="side right">
                    <div>{{d.normal}}</div>
                </div>
                <div class="side">
                    <div>Warning</div>
                </div>
                    <div class="middle">
                        <div class="bar-container" ng-click="f(1, d.Id);">
                            <div id="bar{{d.Id}}_2" style="width: {{(d.warning / d.total) * 100}}%" class="bar-2"></div>
                        </div>
                    </div>
                    <div class="side right">
                        <div>{{d.warning}}</div>
                    </div>
                    <div class="side">
                        <div>Critical</div>
                    </div>
                    <div class="middle">
                        <div class="bar-container" ng-click="f(2, d.Id);">
                            <div id="bar{{d.Id}}_3" style="width: {{(d.critical / d.total) * 100}}%" class="bar-1"></div>
                        </div>
                    </div>
                    <div class="side right">
                        <div>{{d.critical}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
        <script type="text/javascript">

            function updateRadial1() {
                
            }

            function littleDelay() {
                myVar = setTimeout(showPage, 1000);
            }

            function showPage() {
                document.getElementById("loader").style.display = "none";
                document.getElementById("main").style.display = "block";
            }


            function f(id, val) {
                window.location("HULL_INDEX1?qs=" + val + "&id=" + id);
            }

            var app = angular.module('myApp', []);

            app.controller('dashboardCtrl', function ($scope, $http) {
                $scope.f = f;

                function fetch($http) {
                    $http.get("/api/R_Dashboards")
                        .then(function (response) {
                            $scope.dashboards = response.data;
                        });
                }

                fetch($http);
                littleDelay();

                var x = setInterval(function () {
                    fetch($http);
                    updateRadial1();
                }, 5000);
            });

            $(document).ready(function () {
                //$("#bar5").width("100%");
            });




        </script>

    }

