﻿@model IEnumerable<MVCTut.Models.HullIndex>

@{
    ViewBag.Title = "HULL List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>HULL List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Hull)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServerName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Hull)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServerName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>

