﻿@model IEnumerable<Ashore_HAMS.Models3.DRIVE_INDEX>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DRIVE_LETTER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AVAIL_SPACE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USED_SPACE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COLLECTED_TIMESTAMP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TIME_DATE_RECORD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HULL_SERVER_INDEX.HULL_SERVER_ID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DRIVE_LETTER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AVAIL_SPACE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USED_SPACE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COLLECTED_TIMESTAMP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TIME_DATE_RECORD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HULL_SERVER_INDEX.HULL_SERVER_ID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DRIVE_INDEX_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DRIVE_INDEX_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DRIVE_INDEX_ID })
        </td>
    </tr>
}

</table>
