﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-app="myApp">
    <div ng-controller="customersCtrl">
        <table class="table table-hover">
            <tr>
                <th>Folder Name</th>
            </tr>
            <tr style="cursor: pointer;" ng-repeat="x in names">
                <td  onclick="x(this);">{{ x }}</td>
            </tr>
        </table>
    </div>
</div>


@section Scripts
{
    @*<script type="text/javascript">
            $(function () {
                //your jQuery goes here
                alert('ok');
            });
    </script>*@

    <script type="text/javascript">
        var app = angular.module('myApp', []);
        app.controller('customersCtrl', function ($scope, $http) {
            $http.get("/api/droppoint")
                .then(function (response) {
                    //alert(response);
                    $scope.names = response.data;
                });
        });


        function x(obj) {
            window.location.href = "/Replication/Spec?folder_id=" + obj.innerHTML;
        }

    </script>

}