﻿
@{
    ViewBag.Title = "Spec";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Spec</h2>

<div ng-app="myApp">
    <div ng-controller="customersCtrl">
        <table class="table table-hover">
            <tr>
                <td>File Name</td>
                <td>Size</td>
            </tr>
            <tr ng-repeat="x in names">
                <td>{{ x.Uri }}</td>
                <td>{{ x.Size }}</td>
            </tr>
        </table>
    </div>
</div>


@section Scripts
{
    <script type="text/javascript">
        var app = angular.module('myApp', []);

        app.controller('customersCtrl', function ($scope, $http) {

            $http.get("/api/droppoint/@ViewBag.FolderId")
                .then(function (response) {
                    $scope.names = response.data;
                    });

            var x = setInterval(function () {
                console.log('ok');

                $http.get("/api/droppoint/@ViewBag.FolderId")
                    .then(function (response) {
                        $scope.names = response.data;
                        });
            }, 5000);
        });


    </script>

}