﻿@model IEnumerable<Ashore_HAMS.Models3.PUB_INDEX>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PUB_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CONTENT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DISPLAY_INDICATOR_INDEX.DISPLAY_INDICATOR_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOWNLOAD_TYPE_INDEX.DOWNLOAD_TYPE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRIORITY_INDEX.PRIORITY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PUB_SCOPE_INDEX.PUB_SCOPE_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PUB_TYPE_INDEX.PUB_TYPE_NAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PUB_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CONTENT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DISPLAY_INDICATOR_INDEX.DISPLAY_INDICATOR_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DOWNLOAD_TYPE_INDEX.DOWNLOAD_TYPE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRIORITY_INDEX.PRIORITY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PUB_SCOPE_INDEX.PUB_SCOPE_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PUB_TYPE_INDEX.PUB_TYPE_NAME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PUB_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PUB_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PUB_ID })
        </td>
    </tr>
}

</table>
