﻿@model MVCTut.Models.HAMS2.VersionTracker

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>VersionTracker</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ShipName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShipName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TwoOne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TwoOne)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TwoTwo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TwoTwo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TwoThree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TwoThree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TwoFour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TwoFour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WebATIS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WebATIS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Java)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Java)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CTA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CTA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MU1B5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MU1B5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOM2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOM2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Version)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Version)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DSUpdateVer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DSUpdateVer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LatestDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LatestDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
