﻿@model MVCTut.Models.HAMS2.VersionTracker

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div ng-app="myApp" ng-controller="customersCtrl">
    <h4>VersionTracker</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ShipName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShipName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServerName)
        </dt>

        <dd>
            <span class="label label-{{ vt.BackgroundColor }}">@Html.DisplayFor(model => model.ServerName)</span> 
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DSUpdateVer)
        </dt>

        <dd>
            <span class="label label-{{ mode }}">{{ vt.DSUpdateVer }}</span>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LatestDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LatestDate)
        </dd>
        <dd>
            
        </dd>
        <dd>
            <table class="table">
                <tbody>
                    <tr ng-repeat="ntv in ntvs">
                        <td>{{ntv.id}}</td>
                        <td>{{ntv.Code}}</td>
                        <td>{{ntv.Date}}</td>
                    </tr>
                </tbody>
            </table>

        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>

<p>
    Send Message to Ship
</p>

<input id="txtMsgCode" type="text" value="" />
<button id="jq">Ok</button>

<p>
    To do list: check the query if goes over the treshold then generate a message saying that the server is down.

</p>

@section Scripts
{
    <script type="text/javascript">


        String.prototype.format = function () {
            a = this;
            for (k in arguments) {
                a = a.replace("{" + k + "}", arguments[k])
            }
            return a
        }




        var app = angular.module('myApp', []);

        app.controller('customersCtrl', function ($scope, $http) {
            $http.get("/api/JVersionTrackers/ @Html.DisplayFor(model => model.id)")
                .then(function (response) {
                    $scope.vt = response.data;
                    if (parseInt($scope.vt.DSUpdateVer) > 8) {
                        $scope.mode = "success";
                    }
                    else if (parseInt($scope.vt.DSUpdateVer) >= 5) {
                        $scope.mode = "warning";
                    }
                    else {
                        $scope.mode = "danger";
                    }                });

            var x = setInterval(function () {
                    $http.get("/api/JVersionTrackers/ @Html.DisplayFor(model => model.id)")
                    .then(function (response) {
                        $scope.vt = response.data;

                        if (parseInt($scope.vt.DSUpdateVer) > 8) {
                            $scope.mode = "success";
                        }
                        else if (parseInt($scope.vt.DSUpdateVer) >= 5) {
                            $scope.mode = "warning";
                        }
                        else {
                            $scope.mode = "danger";
                        }
                    });
            }, 3000);

            setInterval(function () {
                            $scope.nt = { "id": Math.random() };
                            console.log($scope.nt);

                            $http.get("/api/JNotificationView?shipName=@Html.DisplayFor(model => model.ServerName)")
                            .then(function (response) {
                                $scope.ntvs = response.data;
                                console.log($scope.ntvs[0].id);
                            });

            }, 3000);
        });



        $(document).ready(function () {
            //$("button").click(function () {
            //    $("p").hide();
            //});


            $("#jq").click(function () {
                var code = parseInt($("#txtMsgCode").val());
                console.log(code);
                d = new Date();

                //console.log(Date());

                var jDate = ("{0}/{1}/{2} {3}:{4}:{5}".format(d.getFullYear(),
                    d.getMonth() + 1,
                    d.getDate(),
                    d.getHours(),
                    d.getMinutes(),
                    d.getSeconds()
                ));

                $.post("/api/Notifications", {
                        Ship: "@Html.DisplayFor(model => model.ServerName)",
                    Date: jDate,
                    Code: code
                },
                    function (data, status) {
                        alert("Data: " + data.Ship + "\nStatus: " + status);
                    }
                );

            });
        });
        //});



    </script>

}