﻿@model IEnumerable<MVCTut.Models.HAMS2.VersionTracker>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Version Tracker</h2>
@using (Html.BeginForm())
{
    <div class="form-group">
        <input id="searchInput" name="searchInput" type="text" class="form-control" id="usr">
    </div>
            <input type="submit" value="Search" class="btn btn-default" />
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ShipName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DSUpdateVer)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.LatestDate)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ShipName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServerName)
        </td>
        <td>
            @{ 
                var mode = "default";
                if(item.DSUpdateVer !=null && Int32.Parse(item.DSUpdateVer) > 8)
                {
                    mode = "success";
                }
                else if (item.DSUpdateVer != null && Int32.Parse(item.DSUpdateVer) >= 5)
                {
                    mode = "warning";
                }
                else if (item.DSUpdateVer != null && Int32.Parse(item.DSUpdateVer) < 4)
                {
                    mode = "danger";
                }
            }
            <span class="label label-@(mode)">@Html.DisplayFor(modelItem => item.DSUpdateVer)</span>
            
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.LatestDate)
        </td>*@
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.id })
        </td>
    </tr>
}

</table>


@section Scripts
{
    <script type="text/javascript">

        function x() {
            var searchVal = $("#searchInput").val()
            alert('hello' + searchVal);
        }
    </script>

}