﻿@model Ashore_HAMS.Models3.PUB_INDEX

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PUB_INDEX</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PUB_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PUB_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CONTENT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CONTENT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DISPLAY_INDICATOR_INDEX.DISPLAY_INDICATOR_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DISPLAY_INDICATOR_INDEX.DISPLAY_INDICATOR_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOWNLOAD_TYPE_INDEX.DOWNLOAD_TYPE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOWNLOAD_TYPE_INDEX.DOWNLOAD_TYPE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRIORITY_INDEX.PRIORITY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRIORITY_INDEX.PRIORITY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PUB_SCOPE_INDEX.PUB_SCOPE_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PUB_SCOPE_INDEX.PUB_SCOPE_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PUB_TYPE_INDEX.PUB_TYPE_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PUB_TYPE_INDEX.PUB_TYPE_NAME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PUB_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
